body {
	overflow-x: hidden;
}
.container {
	margin: 0 20px 20px 20px;
	width: unset;
}
.checkbox {
	margin: 0px auto;
}
.mt20 {
	margin-top: 20px;
}
.info, #nav, .glyphicon {
	display: none;
}
.has-feedback .glyphicon {
	display: block;
}
td {
	word-break: break-all;
}
table img {
	max-width: 80%;
}
table pre {
	white-space: pre-wrap;
}
#bg {
	width: 100%;
	z-index: -1;
}
.input-group-addon {
	cursor: pointer;
}
#download {
	user-select: none;
}
#download span:not(:last-of-type), #cid, #quality {
	margin-right: 20px;
}
#danmaku {
	table-layout: fixed;
}
