body {
	overflow-x: hidden;
}
.tab-pane, #nav {
	display: none;
}
td {
	word-break: break-all;
}
table img {
	max-width: 80%;
}
table pre {
	white-space: pre-wrap;
}
#bg {
	width: 100%;
}
#download {
	user-select: none;
}
#download span:not(:last-of-type), #cid, #quality {
	margin-right: 20px;
}
#danmaku {
	table-layout: fixed;
}
